{% extends 'base.html.twig' %}

{% block title %}POST !{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<h2>List of all posts</h2>
	<table class="table table-striped">
		<tr>
			<td>ID</td>
			<td>Title</td>
			<td>Action</td>
		</tr>
		{% for post in posts %}
			<tr>
				<td>{{ post.id }}</td>
				<td>
					<a href="{{ path('post.show',{id:post.id}) }}">{{ post.title }}</a>
				</td>
				<td>
					<a href="{{ path('post.delete',{id:post.id}) }}">Delete
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
